{# expected keys: orig_data_type, source, atlas, label_mode, subject_id, subjects_dir #}
{% set src = s.settings.source or 'source' %}
Source reconstruction ({{ src }}
{%- set extras = [] -%}
{%- for k, v in s.settings.items() if k != 'source' and v is not none -%}
{%- set _ = extras.append(k ~ '=' ~ v) -%}
{%- endfor -%}
{%- if extras %}; {{ extras | join('; ') }}{% endif -%}
).
